<div class="modal fade" id="Agent" role="dialog" ng-controller="AgentListController">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Search</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="focusedinput" class="control-label lablefont">Name</label>
                            <input type="text" class="form-control input-sm" id="txtSearchAgent" placeholder="Name, Code, PhoneNo" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <br />
                            <button class="btn btn-primary btn-sm btn-flat" id="btnAgent" ng-click="SearchAgent()"><i class="fa fa-search"></i>&nbsp;Search</button>
                            <button class="btn btn-default btn-sm btn-flat" id="btnreset" ng-click="ClearAgent()"><i class="glyphicon glyphicon-refresh"></i>&nbsp;Reset</button>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table id="tblAgent" class="table table-bordered" role="grid" style="width:100%;">
                                <thead>
                                    <tr role="row">
                                        <th>Name</th>
                                        <th>Gender</th>
                                        <th>Phone Number</th>
                                        <th>DOB</th>
                                        <th>Branch</th>
                                        <th>User Code</th>
                                        <th>Role</th>
                                        <th>Select</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>