<div class="content-wrapper">
    <section class="content-header">
        <h3>
            Customer
            <div class="pull-right">
                <a class="btn btn-primary btn-sm btn-flat" ui-sref="App.Customer"><i class="glyphicon glyphicon-plus"></i> Add New</a>
              
            </div>
        </h3>    
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Customer List</h3>
                    </div><br />
                    <div class="col-md-2">
                        <input type="text" id="txtSearch" class="form-control input-sm" placeholder="Customer Id or Name" />
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-sm btn-flat" ng-click="SearchData()"><i class="fa fa-search"></i>&nbsp;Search</button>
                        <button class="btn btn-default btn-sm btn-flat" ng-click="SearchClearData()"><i class="fa fa-refresh"></i>&nbsp; Clear</button>
                    </div>
                    <div class="box-body">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table id="tblCustomer" class="table table-bordered" role="grid" style="width:100%;">
                                    <thead>
                                        <tr role="row">
                                            <!--<th>AccountNumber</th>-->
                                        
                                            <th>Customer Id</th>
                                            <th>Customer Name </th>
                                            <th>Branch Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
