
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Reports
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-4">
                <div class="box box-primary box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Transaction</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <ul>
                            <li>
                                <a ui-sref="App.RptTransaction">
                                    Transaction History
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.RptDayScroll">
                                    Day Scroll
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.RptDayScrollStats">
                                    Day Scroll Stats
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.RptDayScrollSummary">
                                    Day Scroll Summary
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Account</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <ul>
                            <li>
                                <a ui-sref="App.RptBalanceSheet">
                                    Balance Sheet
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.AccountList">
                                    Account List
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.RptAccountsCRDR">
                                    Accounts wise Credit Debit
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.RptProfitandLoss">
                                    Profit and Loss Report
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.RptCashBook">
                                    Cash Book Report
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.RptBankBook">
                                    Bank Book Report
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.RptTrailBalance">
                                    Trail Balance Report
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Agent</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <ul>
                            <li>
                                <a ui-sref="App.RptAgentCustomer">
                                    Agent Customer
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.RptAgentCommission">
                                    Agent Commission
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.RptAgentCommission">
                                    Agent Rank Commission
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.RptCommissionPayment">
                                    Commission Payment
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.RptAgentHierarchy">
                                    Agent Hierarchy
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.RptAgentPerfomance">
                                    Agent Perfomance
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box box-primary box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Product</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <ul>
                            <li>
                                <a ui-sref="App.RptDueInstallmentList">
                                    RD Due Installments
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.RptRDFDPendingInstallments">
                                    RDFD Pending Installments
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.RptProductInstallment">
                                    Product Installments
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.RptMaturity">
                                    Maturity Report
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.RptLoanStatement">
                                    Loan Installment Details
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.RptLoanStatementDetails">
                                    Loan Statement
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.RptPrematureProductList">
                                    Premature Product List
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.RptInterestDepositList">
                                    Interest Deposit List
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.RptProductList">
                                    Product Listing
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Employee</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <ul>
                            <li>
                                <a ui-sref="App.RptEmployeeProduct">
                                    Employee Products
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.RptEmployeePerfomance">
                                    Employee Perfomance
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Customer</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <ul>
                            <li>
                                <a ui-sref="App.RptCustomerShare">
                                    Customer Shares
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
