<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h3>
            Accounts Credit Debit
        </h3>
    </section>
    <section class="content ng-scope">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"> Accounts Credit Debit List</h3>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Financial Year</label>
                                    <select id="ddlFinyear" class="form-control input-sm center-block" ng-model="FinYear" ng-change="ChangeFinancialYear(FinYear)">
                                        <option value="">Select</option>
                                        <option value="2017-2018">2017-2018</option>
                                        <option value="2018-2019">2018-2019</option>
                                        <option value="2019-2020">2019-2020</option>
                                        <option value="2020-2021">2020-2021</option>
                                        <option value="2021-2022">2021-2022</option>
                                        <option value="2022-2023">2022-2023</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label>Start Date</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm" id="txtStartDateforSearch" placeholder="Start Date" />
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label>End Date</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm" id="txtEndDateforSearch" placeholder="End Date" />
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>&nbsp;</label><br />
                                    <button class="btn btn-primary btn-sm btn-flat" ng-click="SearchCRDR()"><i class="fa fa-search"></i>&nbsp; Search</button>
                                    <button class="btn btn-default btn-sm btn-flat" ng-click="ClearSearch()"><i class="fa fa-refresh"></i>&nbsp; Clear</button>
                                    <button class="btn btn-primary btn-sm btn-flat" ng-click="ExportCRDR()"><i class="fa fa-download"></i>&nbsp; Excel</button>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table id="tblAccountsCRDR" class="table table-bordered" role="grid" style="width:100%;" ng-if="BranchHO">
                                    <thead>
                                        <tr>
                                            <th> Branch Name </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(key, value) in AccountsCRDR | groupBy: 'BranchName'">
                                            <td>
                                                <a ng-click="BranchChangeCRDR(key)">{{key}}</a>
                                            </td>
                                            <td>
                                                <table style="width:100%;">
                                                    <thead>
                                                        <tr>
                                                            <th> Product Name </th>
                                                            <th width="25%" class="text-right"> Opening Balance </th>
                                                            <th width="25%" class="text-right"> Credit </th>
                                                            <th width="25%" class="text-right"> Debit </th>
                                                            <th width="25%" class="text-right"> Balance </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="branch in value" style="border-bottom:1px dotted black">
                                                            <td>{{branch.ProductName}}</td>
                                                            <td class="text-right">
                                                                <span ng-show="branch.OpeningBalance < 0"> {{branch.OpeningBalance * - 1 | number : 2}} Dr</span>
                                                                <span ng-show="branch.OpeningBalance > 0"> {{branch.OpeningBalance | number : 2}} Cr</span>
                                                                <span ng-show="branch.OpeningBalance == 0"> 0.00</span>
                                                            </td>
                                                            <td class="text-right">{{branch.Credit | number : 2}}</td>
                                                            <td class="text-right">{{branch.Debit  | number : 2}}</td>
                                                            <td class="text-right" ng-show="branch.Debit < branch.Credit">
                                                                <span ng-show="branch.OpeningBalance < 0"> {{(((branch.OpeningBalance * -1) + (branch.Debit * -1)) -branch.Credit) | number : 2}} Dr</span>
                                                                <span ng-show="branch.OpeningBalance > 0"> {{((branch.OpeningBalance + branch.Credit) - branch.Debit) | number : 2}} Cr</span>
                                                                <span ng-show="branch.OpeningBalance == 0"> {{branch.Credit - branch.Debit | number : 2}} Cr</span>
                                                            </td>
                                                            <td class="text-right" ng-show=" branch.Debit > branch.Credit">
                                                                <span ng-show="branch.OpeningBalance < 0"> {{(((branch.OpeningBalance * -1) + (branch.Debit)) -branch.Credit) | number : 2}} Dr</span>
                                                                <span ng-show="branch.OpeningBalance > 0"> {{((branch.OpeningBalance + branch.Credit) - branch.Debit) | number : 2}} Cr</span>
                                                                <span ng-show="branch.OpeningBalance == 0"> {{branch.Credit - branch.Debit | number : 2}} DR</span>

                                                            </td>
                                                            <td class="text-right" ng-show="branch.Debit == branch.Credit">
                                                                <span ng-show="branch.OpeningBalance < 0"> {{(((branch.OpeningBalance * -1) + (branch.Debit)) -branch.Credit) | number : 2}} Dr</span>
                                                                <span ng-show="branch.OpeningBalance > 0"> {{((branch.OpeningBalance + branch.Credit) - branch.Debit) | number : 2}} Cr</span>
                                                                <span ng-show="branch.OpeningBalance == 0"> {{branch.Credit - branch.Debit | number : 2}} Cr</span>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td class="text-bold"> Total</td>
                                                            <td class="text-bold text-right" ng-init="ttlOpeningBalance = (value | sumByKey : 'OpeningBalance')"> {{value | sumByKey : 'OpeningBalance' | currency:''}}</td>
                                                            <td class="text-right text-bold" ng-init="ttlCredit = (value | sumByKey : 'Credit')">{{value | sumByKey : 'Credit' | currency:''}}</td>
                                                            <td class="text-right text-bold" ng-init="ttlDebit = (value | sumByKey : 'Debit')">{{value | sumByKey : 'Debit' | currency:''}}</td>
                                                            <td class="text-right text-bold">{{ttlOpeningBalance + ttlCredit - ttlDebit | currency:''}}  </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr ng-show="AccountsCRDR.length == 0">
                                            <td>
                                                No data found.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table id="tblAccountsCRDRnotHO" class="table table-bordered" role="grid" style="width:100%;" ng-if="!BranchHO">
                                    <thead>
                                        <tr>
                                            <th width="20%"> Product Name </th>
                                            <th width="20%" class="text-right"> Opening Balance </th>
                                            <th width="20%" class="text-right"> Credit </th>
                                            <th width="20%" class="text-right"> Debit </th>
                                            <th width="20%" class="text-right"> Balance </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="crdr in AccountsCRDR">

                                            <td>{{crdr.ProductName}}</td>
                                            <td class="text-right">
                                                <span ng-show="crdr.OpeningBalance < 0"> {{crdr.OpeningBalance * - 1 | number : 2}} Dr</span>
                                                <span ng-show="crdr.OpeningBalance > 0"> {{crdr.OpeningBalance | number : 2}} Cr</span>
                                                <span ng-show="crdr.OpeningBalance == 0"> 0.00</span>
                                            </td>
                                            <td class="text-right">{{crdr.Credit | number : 2}}</td>
                                            <td class="text-right">{{crdr.Debit  | number : 2}}</td>
                                            <td class="text-right" ng-show="crdr.Debit < crdr.Credit">
                                                <span ng-show="crdr.OpeningBalance < 0"> {{(((crdr.OpeningBalance * -1) + (crdr.Debit * -1)) -crdr.Credit) | number : 2}} Dr</span>
                                                <span ng-show="crdr.OpeningBalance > 0"> {{((crdr.OpeningBalance + crdr.Credit) - crdr.Debit) | number : 2}} Cr</span>
                                                <span ng-show="crdr.OpeningBalance == 0"> {{crdr.Credit - crdr.Debit | number : 2}} Cr</span>
                                            </td>
                                            <td class="text-right" ng-show=" crdr.Debit > crdr.Credit" ng-init="crdr.TotalBalanceAmount=crdr.Credit - crdr.Debit">
                                                <!--{{(crdr.TotalBalanceAmount<0?-(crdr.TotalBalanceAmount):crdr.TotalBalanceAmount) | number : 2}} Dr-->
                                                <span ng-show="crdr.OpeningBalance < 0"> {{(((crdr.OpeningBalance * -1) + (crdr.Debit)) -crdr.Credit) | number : 2}} Dr</span>
                                                <span ng-show="crdr.OpeningBalance > 0"> {{((crdr.OpeningBalance + crdr.Credit) - crdr.Debit) | number : 2}} Cr</span>
                                                <span ng-show="crdr.OpeningBalance == 0"> {{crdr.Credit - crdr.Debit | number : 2}} Dr</span>

                                            </td>
                                            <td class="text-right" ng-show="crdr.Debit == crdr.Credit">
                                                <span ng-show="crdr.OpeningBalance < 0"> {{(((crdr.OpeningBalance * -1) + (crdr.Debit)) -crdr.Credit) | number : 2}} Dr</span>
                                                <span ng-show="crdr.OpeningBalance > 0"> {{((crdr.OpeningBalance + crdr.Credit) - crdr.Debit) | number : 2}} Cr</span>
                                                <span ng-show="crdr.OpeningBalance == 0"> {{crdr.Credit - crdr.Debit | number : 2}} Cr</span>
                                            </td>

                                        </tr>
                                        <tr ng-show="AccountsCRDR.length == 0">
                                            <td colspan="3">
                                                No data found.
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td id="labelTotal" style="text-align:right;font-weight:bold">Total</td>
                                            <td id="lblTotalOpeningBalance" style="text-align:right;font-weight:bold"></td>
                                            <td id="lblTotalCreditAmount" style="text-align:right;font-weight:bold"></td>
                                            <td id="lblTotalDebitAmount" style="text-align:right;font-weight:bold"></td>
                                            <td id="lblTotalFinalAmount" style="text-align:right;font-weight:bold"></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>