<style>
    .InstallmentTotal {
        font-size: 20px;
    }
</style>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h3>
            Maturity Report
        </h3>
    </section>
    <section class="content ng-scope">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"> Maturity List</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Customer Name</label>
                                <input type="text" id="txtAccountlistsearch" class="form-control input-sm" placeholder="Customer Name" ng-model="CustomerName" />
                            </div>
                            <div class="col-md-2">
                                <label>Product Name</label>
                                <input type="text" id="txtProductName" class="form-control input-sm" placeholder="Product Name" ng-model="ProductName" />
                            </div>
                            <div class="col-md-2">
                                <label>Start Date</label>
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" id="txtStartDateforSearch" placeholder="Start Date" />
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>End Date</label>
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" id="txtEndDateforSearch" placeholder="End Date" />
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>&nbsp;</label><br />
                                <button class="btn btn-primary btn-sm btn-flat" ng-click="SearchMaturutyList()"><i class="fa fa-search"></i>&nbsp; Search</button>
                                <button class="btn btn-default btn-sm btn-flat" ng-click="SearchClearData()"><i class="fa fa-refresh"></i>&nbsp; Clear</button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-lg-12">&nbsp;</div>
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table id="tblMaturityList" class="table table-bordered" role="grid" style="width:100%;">
                                    <thead>
                                        <tr role="row">
                                            <th>Client ID</th>
                                            <th>Account Number</th>
                                            <th>Customer Name</th>
                                            <th>Product Name</th>
                                            <th>Opening Date</th>
                                            <th>Maturity Date</th>
                                            <th>Maturity Amount</th>
                                            <!--<th>Action</th>-->
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td id="labelTotal" colspan="6" style="text-align:right;font-weight:bold">Total</td>
                                            <td id="lblTotalAmount" style="font-weight:bold"></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<div class="modal fade" id="MaturityTransactionDetails" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Maturity Transaction Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="focusedinput" class="control-label lablefont">Account Number</label>
                            </div>
                            <div class="col-md-6">
                                <lable id="AccountNumber"></lable>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="focusedinput" class="control-label lablefont">Total Maturity Amount</label>
                            </div>
                            <div class="col-md-6">
                                <lable id="TotalMaturityAmount"></lable>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="focusedinput" class="control-label lablefont">Total Paid Balance</label>
                            </div>
                            <div class="col-md-6">
                                <lable id="TotalPaidBalance"></lable>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="focusedinput" class="control-label lablefont">Pending Amount</label>
                            </div>
                            <div class="col-md-6">
                                <lable id="PendingAmount"></lable>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-default btn-sm btn-flat" data-dismiss="modal"><i class="fa fa-remove"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</div>