<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="BSCCSL" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BSCCSL;user id=sa;password=ScrumBees123#;MultipleActiveResultSets=true" />
  </connectionStrings>
  <appSettings>
    <add key="BackUpPath" value="D:\BSCCSL\" />
  </appSettings>
</configuration>