
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Accounting
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-4">
                <div class="box box-primary box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Accounts</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <ul>
                            <li>
                                <a ui-sref="App.JournalEntry">
                                    Journal Entry
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.ChartsofAccounts">
                                    Chart of Accounts
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.GeneralLedger">
                                    General Ledger
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.GeneralLedgerDetails">
                                    General Ledger Details
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box box-primary box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Accounting Statements</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <ul>
                            <li>
                                <a ui-sref="App.TrailBalance">
                                    Trial Balance
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.BalanceSheet">
                                    Balance Sheet
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.CashFlow">
                                    Cash Flow
                                </a>
                            </li>
                            <li>
                                <a ui-sref="App.ProfitandLossStatement">
                                    Profit and Loss Statement
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

</div>
